<!DOCTYPE html>
<html lang="en">
<head>
    {{>mainlinks}}
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Aniket Weather-about</title>
</head>
<body>
    {{>headerfile}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">

                <!-- right side div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure id="errmsg">
                        <img src="images/404bg.png" alt="artWork" class="img-fluid" title="Aniket works">
                    </figure>
                <h1 style="margin-top: 5rem;">Looks like you have come to dimension 404</h1>
                <h2 style="margin-bottom: 3rem;">BITCHES!!!</h2> 
                <a href="/"><button style="background-color: aqua;">Click here to go home ,cry baby</button></a>
                </div>    
                
            </div>
        </div>
    </div>
    </div> 
      <!-- footer -->
      {{>footerfile}}
      
    <script src="js/main.js"></script>
</body>
</html>