<!DOCTYPE html>
<html lang="en">
<head>
    {{>mainlinks}}
    <link rel="stylesheet" href="css/styleDark.css" type="text/css">
    <title>Aniket Weather-about</title>
</head>
<body>
    {{>headerfile}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right ">
                    <figure>
                        <img src="images/artwork.jpg" alt="artWork" class="img-fluid" title="Aniket works">
                    </figure>
                </div>    

                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left ">
                <p>This is Aniket</p>   
                <h1>Doing this for <span>FUN</span> </h1>
                <h2 style="margin-bottom: 3rem;">To visit my insta profile</h2> 
                <a><button onclick="window.open('https://www.instagram.com/_._aniket_gade_._/')">Click here</button></a>
            </div>
                
            </div>
        </div>
    </div>
    </div> 
      <!-- footer -->
      {{>footerfile}}
      
    <script src="js/main.js"></script>
</body>
</html>